* {
  color: #dcdcdc;
  background-color: #121212;
  font-family: monospace;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

#banner {
  padding: 0.5em;
  opacity: 0;
  font-size: 3em;
  position: fixed;
  top: 1em;
  left: 1em;
  background: transparent;
  transition: 0.4s;
}

#content {
  opacity: 0;
  transition: 4s;
}

form {
  font-size: 2em;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 128;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -128;
}

body:hover > #banner {
  opacity: 1;
  background: transparent;
}
