video {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  background: rgba(0, 0, 0, 1);
  width: 100vw;
  height: 100vh;
}

#banner {
  z-index: 128;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 1em;
  color: rgb(220, 220, 220);
  font-size: 2em;
  transition: 0.6s;
}

#player:hover > #banner {
  opacity: 1;
}

#controls {
  z-index: 128;
  color: rgb(220, 220, 220);

  background-color: green;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 8vh;
}

#meta {
  opacity: 0;
  position: fixed;
  top: 10vh;
  right: 1em;
  width: 25vw;
  height: 80vh;
  color: rgb(20, 20, 20);
  background-color: rgba(220, 220, 220, 0.6);
}

#meta * {
  margin: 1em 3em;
}

.nosupport {
  width: 50vw;
  height: auto;
  margin: 0 auto;
  padding: 2em;
  display: none;
}
